.main_chat
  .main_header
    .main_header__left-side
      %h2.main_header__left-side__current-group
        group1
      %ul.main_header__left-side__member-list
        Member:
        %li.main_header__left-side__member-list__member atsushi
    = link_to '#' do
      .main_header__edit-btn Edit
  .messages
    .message
      .message__info
        %p.message__info__name Okabe
        %p.message__info__date 2020-03-30
      %p.message__text hello
    .message
      .message__info
        %p.message__info__name atsushi
        %p.message__info__date 2020-03-31
      %p.message__text hellooo
  .form
