.wrapper
  .side_bar
    .side_header
      .side_header__box
        %p.side_header__box__user-name Atsushi
        %ul.side_header__box__menu JJJ
    .groups
  .main_chat
    .main_header
    .messages
    .form

