* {
  box-sizing: border-box;
}

.wrapper{
  height: 100vh;
  width: 100vw;
  display: flex;

  .side_bar{
  width: 300px;
  background-color: #253141;
}
  .main_chat{
  width: calc(100vw - 300px);
  background-color: #ffffff;
}
}